@import 'custom';

#root {
  height: 100vh;
}

.interactive-icon {
  cursor: pointer
}

.interactive-card {
  transition: box-shadow 0.4s ease;
  cursor: pointer
}

.interactive-card:hover {
  box-shadow: 0 0 0 1px white;
}